/*Style for the detail class which encloses the whole body in productdetails page*/

.detail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  font-size: 150%;
}

/*Style for the image present in the detail class*/
.detail img {
  max-width: 550px;
  width: 100%;
  margin: 20px;
  margin-top: 5px;
  height: 600px;
  object-fit: cover;
  display: block;
}

/* style for the box-detail which contains the description in the product details page */
.box-detail {
  max-width: 500px;
  width: 100%;
  margin: 5px 20px;
}

.box-detail .row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-detail h2 {
  text-transform: uppercase;
  color: darkblue;
  letter-spacing: 2px;
  font-weight: 5rem;
}


.box-detail p {
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}

.box-detail .cart {
  background: #333;
  color: white;
  margin-top: 10px;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
